
.dark{
    background-color: aqua;
    height:100vh;
}
.d{
    background-color: black;
    height:100vh;
}
.da{
    background-color: grey;
    height:100vh;
}
.hide{
    display: none;
}
#navbar{
    background-color:white;
    position: fixed;
}