header{
    padding: 1rem;

}
.mobile{
    display: none;
}
main{
    margin-top: 1.5rem;
}
#start{
    border-radius: 4rem;
    position: relative;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    background-color: #000;
    font-size: large;
    z-index: 5;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: #000;
}
footer{
    background-color: #3b3b3b;
    color:white;
    display: flex;
    justify-content: center;
    padding:0.25rem;
}


.dark{

    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    z-index: -2;
}
.d{

    height:100vh;
}
.da{

    height:100vh;
    padding: 2rem;
}


#navbar{
    display: flex;
    justify-content: end;
    padding: 1rem;
    background-color:rgb(14, 0, 45);
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    border-radius: 10px;
    box-sizing:border-box;
    gap: 1.5rem;
}
#navbar:first-child{
    margin-right: auto;
}
.nav-items{
    position: relative;
    color: white;
    font-family: monospace;
    font-size: medium;
}
.nav-items:hover::after, .nav-items:hover::before{
    content: '';
    position: absolute;
    background-image:linear-gradient(to right,rgb(19, 90, 189),rgb(85, 111, 255));
    height: 4px;
    width: 105%;
    border-radius: 1rem;
    bottom: 0;
    left:0;
    translate: 0 -0.5rem;
}
.nav-items::before{
    filter: blur(6px)
}
.nav-items:hover{
    background-color: transparent;
    opacity: 0.9;
    scale: 1.05;
}

#second{
    background-color: black;
    color: white;
    z-index: 40;
    position: fixed;
    padding: 1rem;
    border-radius: 50%;
}

.hide{
    display: none;
}

#signupbtn:hover,button.start:hover{
    color: white;
    background: #000;
    border-color: aliceblue;
    transform: scale(1.1);
}
#sp{
    background: rgb(244, 244, 244);
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}
form{

    display: grid;
    grid-column: 1;
    gap: 1rem;
    
}
input{
    padding: 0.25rem;
    border-radius: 0.5rem;
    max-width: 12rem;

}
button#signupbtn,#loginbtn{
    padding: 0.5rem;
    width: min-content;
    border-radius: 0.45rem;
}
.links{
    color: rgb(0, 110, 255);
}
.links:hover{
    text-decoration: underline;
}

@keyframes nanimetion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
#closemeunu{
    display: none;
}
@media(max-width: 430px){
    .mobile{
        display: block;
    }
    svg{
        display: block;
        fill: #000;
        padding:0.25rem;
    }
    #closemenu{
        fill:white;
        
    }
    #ctrlnav{
        height: 100%;
        width: 300px;
    }
    #openmenu{
        position: fixed;
        z-index: 5;
    }
    #navbar{
        display: none;
    }
    #mobilenav{
        position: relative;
        right:-400px;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
    #ctrlnav:checked ~ #mobilenav{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 230px;
        background-color: #000;
        z-index: 10;
        transition:1s ease-out;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        

    } 
    a{
        color: white;
        width: 100%;
        padding: 1em;
    }
    a:hover{
        background-image: linear-gradient(to right,rgb(0, 106, 255),rgb(0, 38, 255));
    }
#ctrlnav:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
}

    header{
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
}